
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



* {
    margin: 0;
    padding: 0;
}

.mais__vendidos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2em;
}

.texto__maisvendidos{
    margin-top: 0.5em;
    font-size: 1em;
    font-family: "Inter", sans-serif;
    font-style: normal;
    color: rgb(56, 54, 54) !important;
}

.produtos__card{
    display: flex;
    margin-top: -1.5em;
}

.card {
    width: 7em !important;
    height: 7em !important;
    border: none !important;
}
.card-title {
    font-size: 1em !important;
    font-family: "Inter", sans-serif;
    font-style: normal;
}

.btn__comprar {
    width: 80px;
    height:30px;
    background-color: #15FF00 !important;
    font-size: 0.6em;
    color: white !important;
}

.sobre__nos{
    display: flex;
    justify-content: center;
    margin-top: 6em;
    flex-direction: column;
    align-items: center;
}

.quem__somos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 1.5em 0 1.5em;
}
.texto__sobrenos{
    font-size: 1em;
    font-family: "Inter", sans-serif;
}

.todos__produtos{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5em;
}

.btn__saibamais{
    margin-top: 6em;
    width: 6.25em;
    height: 1.5em;
    border: none;
    border-radius: 20px;
    background-color: #3F8978;
    font-size: 0.8em;
    color: white;
    font-family: "Inter", sans-serif;
}

.nossos__clientes{
    margin-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.depoimentos {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.parceiros {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.newsletter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto__newsletter {
    width: 167px;
    font-size: 1em;
}
.btn__newsletter {
    width: 127px;
    height: 35px;
    border-radius: 20px;
    background-color: #3F8978;
    border: none;
    color: white;
    padding: 0.2em 0 0 1.2em;
}

footer {
    background-color: #b8b5b5;
    color: rgb(0, 0, 0);
    padding: 20px 0;  
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    padding: 0 50px;
  }
  
  .contact-info, .social-media {
    max-width: 45%;
  }
  
  .contact-info h3, .social-media h3 {
    font-size: 0.8em;
    margin-bottom: 10px;
  }
  
  
  .contact-info p {
    margin: 5px 0;
    margin-top: 10px;
    font-size: 0.5em;
  }
  
  .social-media a {
    margin-right: 10px;
    color: rgb(0, 0, 0);
    font-size: 0.5em;
    text-decoration: none;
  }
  
  .social-media a:hover {
    color: #FFD700; /* Cor de hover nos ícones */
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 0.4em;
  }
  
  .footer-bottom p {
    margin: 0;
  }


@media (min-width: 1024px) {


    .texto__maisvendidos{
        margin-top: 0.5em;
        font-size: 2.5em;
        font-family: "Inter", sans-serif;
        font-style: normal;
        color: rgb(56, 54, 54) !important;
    }

    .card {
        margin: 0 2em 0 2em;
        width: 15em !important;
        height: 15em !important;
        align-items: center;
    }

    .sobre__nos{
        display: flex;
        justify-content: space-between !important;
        margin: 0 2em 0 2em;
        flex-direction: column;
        align-items: center;
    }
    .texto__sobrenos{
        align-items: center;
        width: 500px;
    }
    .logo__sobrenos{
        width: 330px;
        height: 300px;
    }

    .btn__comprar {
        width: 160px;
        height:40px;
        background-color: #15FF00 !important;
        font-size: 0.6em;
        color: white !important;
        margin-left: 1em;
        font-size: 1em;
    }

    .btn__saibamais {
        margin-top: 2em !important;
        width: 10em;
        height: 4em;
        border: none;
        border-radius: 20px;
        background-color: #3F8978;
        font-size: 1em;
        color: white;
        font-family: "Inter", sans-serif;
    }

    .depoimentos img{
        width: 15em;
        height: 10em;
    }
    .parceiros img{
        width: auto;
        height: auto;
    }
    .parceiros {
        display: flex;
        padding: 0 2em 0 2em;
    }
    .newsletter{
        display: flex;
        justify-content: center;
        margin-top: 2em;
        align-items: center;
        background-color: #3F8978;
    }
    .texto__newsletter {
        width: 550px;
        font-size: 2em;
        align-items: center;
        padding: 0.3em;
    }
    .btn__newsletter{
        margin-top: 2em !important;
        width: 12em;
        height: 4em;
        border: none;
        border-radius: 20px;
        background-color: #1c5c4d;
        font-size: 0.8em;
        color: white;
        font-family: "Inter", sans-serif;
        padding-bottom: 0.5em;
        margin-bottom: 1.8em;
        font-size: 1em;
        padding: 1em 0 0 2.8em;
        text-decoration: none;
    }

}


